{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {% block head %}

        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block extra_meta %}{% endblock %}

        <title>{% block title %}Suppliers List{% endblock %}</title>

        {% block for_css %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
        {% endblock %}

        <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        {% block extra_css %}{% endblock %}

    {% endblock %}
</head>
<body>
    <div class="container">

        {% block header %}
        {% endblock %}

        <div class="content">
            {% block content %} {% endblock %}
        </div>

        <div class="footer-wrapper">
            {% block footer %}            
            {% endblock %}
        </div>
    </div>

    {% block modal_windows %}{% endblock %}

</body>
{% block for_js %}
    <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
{% endblock %}
{% block extra_js %}{% endblock %}

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</html>