{% for object in object_list %}
{% if object.addresses.all %}
   {% for address in object.addresses.all %}
	   <tr>
		    <td><a href="{% url 'supplier:update' object.id %}">{{ object.supplier_name }}</a></td>
		    <td>{{ address }}</td>
		    <td>address line 2</td>
		    <td>town</td>
		    <td>post code</td>
		    <td>telephone</td>
		    <td>fax</td>
		    <td>email</td>
		    <td><a href="{% url 'supplier:delete' object.id %}">delete</a></td>
	   </tr>
   {% endfor %}
{% else %}
		<tr>
		    <td><a href="{% url 'supplier:update' object.id %}">{{ object.supplier_name }}</a></td>
		    <td>empty</td>
		    <td>address line 2</td>
		    <td>town</td>
		    <td>post code</td>
		    <td>telephone</td>
		    <td>fax</td>
		    <td>email</td>
			<td><a href="{% url 'supplier:delete' object.id %}">delete</a></td>				    
	   </tr>
{% endif %}
{% endfor %}