{% extends 'base.html' %}

{% block content %}
<ul>
    <li><a href="{% url 'supplier:create' %}"><span></span>Создать</a></li>
</ul>
<input type="text" placeholder="Type supplier name and press enter" style="width:300px" class='supplier_filter'/>
<table class="table table-hover">
   <caption>Suppliers list</caption>
   <thead>
	    <th>Supplier name</th>
	    <th>address line 1</th>
	    <th>address line 2</th>
	    <th>town</th>
	    <th>post code</th>
	    <th>telephone</th>
	    <th>fax</th>
	    <th>email</th>
		<th>DELETE</th>
   </thead>
   <tbody id="filtered-result">
	   {% for object in object_list %}
	   {% if object.addresses.all %}
		   {% for address in object.addresses.all %}
			   <tr>
				    <td><a href="{% url 'supplier:update' object.id %}">{{ object.supplier_name }}</a></td>
				    <td>{{ address.address_line_1 }}</td>
				    <td>{{ address.address_line_2 }}</td>
				    <td>{{ address.town }}</td>
				    <td>{{ address.post_code }}</td>
				    <td>{{ address.phone }}</td>
				    <td>{{ address.fax }}</td>
				    <td>{{ address.email }}</td>
				    <td><a href="{% url 'supplier:delete' object.id %}">delete</a></td>
			   </tr>
		   {% endfor %}
	   {% else %}
	   		    <tr>
				    <td><a href="{% url 'supplier:update' object.id %}">{{ object.supplier_name }}</a></td>
				    <td>empty</td>
				    <td>address line 2</td>
				    <td>town</td>
				    <td>post code</td>
				    <td>telephone</td>
				    <td>fax</td>
				    <td>email</td>
					<td><a href="{% url 'supplier:delete' object.id %}">delete</a></td>				    
			   </tr>
	   {% endif %}
	   {% endfor %}
   </tbody>

</table>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
	var onFilterSubmit = function (event) {
		query = $('.supplier_filter').val()
		$.get("{% url 'supplier:search' %}", {query: query}, function(data){
		  $('#filtered-result').html(data);
		});
	};
	$(document).on('change', '.supplier_filter', onFilterSubmit);
</script>
{% endblock extra_js %}