{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<form action="{% url 'supplier:update' object.pk %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>
<a href='{% url "supplier:create_address" %}'> Add address </a>
{% endblock content %}